.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: monospace;
	font-weight: bold;
	height: 100vh;
	background-color: #474747;
}

.App-header {
	background: linear-gradient(
		45deg,
		#ca4246 16.666%,
		#e16541 16.666%,
		#e16541 33.333%,
		#f18f43 33.333%,
		#f18f43 50%,
		#8b9862 50%,
		#8b9862 66.666%,
		#476098 66.666%,
		#476098 83.333%,
		#a7489b 83.333%
	);

	overflow: visible;
	width: 100%;
	text-align: center;
	color: white;
	max-width: 100%;
	display: flex;
	margin-bottom: 20px;
}
.App-header .h1 {
	padding: 0 30px;
}

.list {
	background-color: #eee;
	border-radius: 8px;
	padding: 20px 0;
	max-width: 1700px;
	width: 100%;
	margin: auto;
	list-style: none;
	padding-left: 0;
	flex-grow: 1;
	overflow: auto;
	margin-bottom: 100px;
	border: 2px solid #333;
	box-shadow: inset -2px -2px 10px #333;
}


form {
	display: flex;
	width: 100%;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto 100px;
}

input {
	max-width: 1000px;
	padding: 5px;
	font-size: 20px;
	border-radius: 8px;
	flex-grow: 1;
    background-color: #eee;
}
input:focus {
	outline: none;
}

button {
	padding: 5px 10px;
	font-size: 20px;
	background-color: transparent;
	color: #eee;
	border: none;
	border-radius: 8px;
	margin-left: 10px;
}

.message {
	display: flex;
}

.message.tren {
	flex-direction: row-reverse;
	text-align: right;
}

.content {
	display: inline-block;
}

.tren .content {
	align-items: flex-end;
}

.message .avatar {
	height: 40px;
	width: 40px;
	display: inline-block;
	margin: 10px 20px;
	border: 2px solid #333;
	box-shadow: 2px 2px 5px #333;
}

.content .username {
	display: block;
	color: #eee;
	font-size: 20px;
	padding-bottom: 5px;
}

.content .text {
	padding: 12px 17px;
	max-width: 400px;
	margin: 0;
	border-radius: 10px;
	background-color: #adadad;
	color: black;
	display: inline-block;
	font-size: 15px;
}

.tren .content .text {
	background-color: #699e37;
	color: black;
}




